#=====================================================
# Power Operations / HA Plug
#=====================================================
[gcode_macro POWER_ON_KS]
gcode:
  {action_call_remote_method("set_device_power", device="Klipperscreen", state="on")}
							 
[gcode_macro POWER_OFF_KS]
gcode:
  {action_call_remote_method("set_device_power", device="Klipperscreen", state="off")}
  
[gcode_macro POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method("set_device_power", device="Qidi_XMax3", state="off")}
  
[gcode_macro POWER_OFF_ALL]
gcode:
  KS_LAN_HALT
  #G4 P10000 # wait 10 seconds to shutdown RPi0V2
  #POWER_OFF_KS
  # Find a way, if ever possible to shutdown filesystem before power off
  POWER_OFF_PRINTER

[delayed_gcode delayed_printer_off]
initial_duration: 0  # Set 0 to interrupt the delayed macro
# use UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=300 in START_PRINTER macro with the time wanted
gcode:
  {% if printer.extruder.target > 50 or printer.extruder.temperature > 50 or printer.heater_bed.temperature > 55 or printer.idle_timeout.state| upper == "PRINTING" or printer.pause_resume.is_paused %}
    UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=300    
  {% else %}
    POWER_OFF_ALL
  {% endif %} 
  # alternative mode
  #{% if printer.idle_timeout.state == "Idle" or printer.idle_timeout.state == "Ready" %}
    #{% if printer.extruder.target == 0.0 and printer.heater_bed.target == 0.0 %}
    # Target Temp = 0
      #{% if printer.extruder.temperature < 60.0 %}
        #UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=0 # DURATION=0 don't re-execute
        #POWER_OFF
        #{% else %}  # Extruder Temp > 60
        #UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=10 # Waiting Cooling Heater
        #{% endif %}
    #{% else %}   # Target Temp > 0
      #UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=600  # Not Printing + Heating...
    #{% endif %}
	#{% else %}
    #UPDATE_DELAYED_GCODE IDdelayed_printer_off DURATION=600	# Printing
  #{% endif %}  
    
[delayed_gcode ks_on]
initial_duration: 5.0
gcode:
  POWER_ON_KS
