#=====================================================
# Power Operations / HA Plug
#=====================================================
[gcode_macro POWER_ON_KLIPPERSCREEN]
gcode:
  {action_call_remote_method("set_device_power",
                             device="Klipperscreen",
                             state="on")}
							 
[gcode_macro POWER_OFF_KLIPPERSCREEN]
gcode:
  {action_call_remote_method("set_device_power",
                             device="Klipperscreen",
                             state="off")}
  
[gcode_macro POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method("set_device_power",
                             device="Qidi_XMax3",
                             state="off")}
  
[gcode_macro POWER_OFF_ALL]
gcode:
  {action_call_remote_method("set_device_power",
                             device="Klipperscreen",
                             state="off")}
  {action_call_remote_method("set_device_power",
                             device="Qidi_XMax3",
                             state="off")}

#[delayed_gcode delayed_printer_off]
#initial_duration: 0.
#gcode:
# {% if printer.idle_timeout.state != "Printing" %}
#    POWER_OFF_KLIPPERSCREEN
#    POWER_OFF_PRINTER
#  {% endif %}

[delayed_gcode delayed_printer_off]
initial_duration: 1800.
gcode:
  {% if printer.extruder.target >= 50 or printer.extruder.temperature >= 50 or printer.heater_bed.temperature >= 50 or printer.idle_timeout.state == "Printing" %}
    UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=300    
  {% else %}
    POWER_OFF_ALL
  {% endif %} 
    