## Only home if not homed
[gcode_macro CG28]
gcode:
  {% if 'X' not in params and 'Y' not in params and 'Z' not in params %}
    {% set home = 'XYZ' %}
  {% else %}
    {% set home = '' %}
    {% if params.X is defined %}{% set home = home + 'X' %}{% endif %}
    {% if params.Y is defined %}{% set home = home + 'Y' %}{% endif %}
    {% if params.Z is defined %}{% set home = home + 'Z' %}{% endif %}
  {% endif %}
  {% if 'x' in printer.toolhead.homed_axes %}{% set home = home.replace('X', '') %}{% endif %}
  {% if 'y' in printer.toolhead.homed_axes %}{% set home = home.replace('Y', '') %}{% endif %}
  {% if 'z' in printer.toolhead.homed_axes %}{% set home = home.replace('Z', '') %}{% endif %}
  {% if home %} G28 {home} {% endif %}
  
[gcode_macro  _HOME_CHECK]
description: Checks if the printer is homed, if not then homes the printer
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes  %}
      G28
    {% endif %}

[gcode_macro _CG28]
gcode:
    _HOME_CHECK { rawparams }

[gcode_macro LAZY_HOME]
gcode:
    _HOME_CHECK { rawparams }

[gcode_macro HOME_IF_NEEDED]
gcode:
    _HOME_CHECK { rawparams }

[gcode_macro CHECK_HOME]
gcode:
    _HOME_CHECK { rawparams }

[gcode_macro HOMING_IF_NOT]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
      G28
    {% endif %}

