# macros work with that declaration
#[filament_switch_sensor fila]
#switch_pin: PC1  # Qidi: !PC1  / SFS: PC1
#pause_on_runout: False
#runout_gcode: KEEP_PRINTING_AFTER_FIL_RUNOUT D={750}

[gcode_macro KEEP_PRINTING_AFTER_FIL_RUNOUT]
description: Trigger to pause the print after a further distance has been extruded
variable_end_d: 0
gcode:
  {% set d_start = printer.print_stats.filament_used|float %}
  {% set d_end = (d_start + params.D|float)|float %}
  SET_GCODE_VARIABLE MACRO=KEEP_PRINTING_AFTER_FIL_RUNOUT VARIABLE=end_d VALUE={d_end}
  M117 Pause at {printer["gcode_macro KEEP_PRINTING_AFTER_FIL_RUNOUT"].end_d|round(2)}
  UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=1

[delayed_gcode PAUSE_AT_D]
initial_duration: 0
gcode:
  {% set d_current = printer.print_stats.filament_used|float %}
  {% if d_current < printer["gcode_macro KEEP_PRINTING_AFTER_FIL_RUNOUT"].end_d %}
    M117 Stopping {d_current|round(2)} {printer["gcode_macro KEEP_PRINTING_AFTER_FIL_RUNOUT"].end_d|round(2)}
    UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=1
  {% else %}
    PAUSE
    M117 FILAMENT RUNOUT DETECTED!
    CHANGE_TUNE # BEEP to notify user to change filament
    UPDATE_DELAYED_GCODE ID=PAUSE_AT_D DURATION=0
  {% endif %}

# Alternative, modufy filameny_switch_sensor for runout_gcode to call DELAYED_PAUSE
# with the two macros under.
# 
#[filament_switch_sensor fila]
#switch_pin: PC1  # Qidi: !PC1  / SFS: PC1
#pause_on_runout: False
#runout_gcode: SZLAYED_PAUSE

[gcode_macro DELAYED_PAUSE]
variable_extrusion_before_pause: 650          # mm of filament to be extruded before pausing
variable_extrusion_amount: 0                  # helper variable
gcode:
  SET_GCODE_VARIABLE MACRO=DELAYED_PAUSE VARIABLE=extrusion_amount VALUE={printer.print_stats.filament_used}
  UPDATE_DELAYED_GCODE ID=_DELAY_PAUSE DURATION=1

[delayed_gcode _DELAY_PAUSE]
gcode:
  {% set allowed_extrusion = printer["gcode_macro DELAYED_PAUSE"].extrusion_before_pause|float %}
  {% set start_amount = printer["gcode_macro DELAYED_PAUSE"].extrusion_amount|float %}
  
  QUERY_FILAMENT_SENSOR SENSOR=fila
  # check if predetermine length is reached
  {% if printer.print_stats.filament_used|float <= (start_amount + allowed_extrusion) %}
    # wait for extrusion amount to be reached, cancel if new filament was inserted
    {% if printer['filament_switch_sensor fila'].filament_detected != True %}
      # start looping this script every second
      UPDATE_DELAYED_GCODE ID=_DELAY_PAUSE DURATION=1
    {% endif %}
  {% else %}
    PAUSE
  {% endif %}
