#########################################
#             Temperatures              #
#########################################
# Replace M109/M190 with TEMPERATURE_WAIT commands
[gcode_macro M104]
rename_existing: M99104
gcode:
    {% set s = params.S|float %}
    {% set t = printer.toolhead.extruder %}
    SET_HEATER_TEMPERATURE HEATER={t} TARGET={s}

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S|float %}
    {% set t = printer.toolhead.extruder %}
    M104 {rawparams}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR={t} MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}

[gcode_macro M140]
rename_existing: M99140
gcode:
    {% set s = params.S|float %}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={s}

[gcode_macro M141]
gcode:
    {% set s = params.S|float %}
    SET_HEATER_TEMPERATURE HEATER=chamber TARGER={([s, 65]|min)|default(0)}
    
[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {rawparams}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}

#########################################
#             Chamber heating           #
#########################################
# Add M191 with TEMPERATURE_WAIT commands
[gcode_macro M191]
gcode:
    {% set s = params.S|float %}
    M141 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set chamber temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={([s, 65]|min)}  #MAXIMUM={s+1}   ; Wait for chamber temp (within 1 degree)
    {% endif %}
    
#########################################
#              Square corner            #
#########################################
[gcode_macro M205]
gcode:
  {% if 'X' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.X}
  {% elif 'Y' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.Y}
  {% endif %}

[gcode_macro M300]
gcode:
    {% set S = params.S|default(2000)|int %}        ; Set frequency (S), default to 2 kHz if omitted or invalid
    {% set P = params.P|default(100)|int %}         ; Set duration (P), default to 100ms if omitted or invalid
    SET_PIN PIN=beeper VALUE=0.8 CYCLE_TIME={ 1.0/S if S > 0 else 1 }       ; Activate the beeper at a 80% duty cycle
    G4 P{P}                                         ; Hold the beep for the specified duration
    SET_PIN PIN=beeper VALUE=0                      ; Turn off the beeper

[gcode_macro PAUSE_TUNE]
gcode:
    M300 S784 P300
    M300 S587 P600
    
[gcode_macro END_TUNE]
gcode:
    M300 S392 P250 
    M300 S494 P250 
    M300 S587 P250 
    M300 S523 P300 
    