[gcode_macro PID_BED]
description: PID Tune for the Bed
gcode:
  {% set T = params.TEMPERATURE|default(60)|float %}
  {% set P = printer.configfile.config['heater_bed'].pid_kp|float %}
  {% set I = printer.configfile.config['heater_bed'].pid_ki|float %}
  {% set D = printer.configfile.config['heater_bed'].pid_kd|float %}
  M117 // Old PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}
  M106     ; fan full speed
  PID_CALIBRATE HEATER=heater_bed TARGET={T} WRITE_FILE=0
  TURN_OFF_HEATERS #m107
  M84
  #SAVE_CONFIG
  # Don't forget to SAV_CONFIG to keep new PID
 
[gcode_macro PID_HOTEND]
description: PID Tune for the Hotend
gcode:
  {% set e = printer.toolhead.extruder %}
  {% set T = params.TEMPERATURE|default(250|float %}
  {% set P = printer.configfile.config[e].pid_kp|float %}
  {% set I = printer.configfile.config[e].pid_ki|float %}
  {% set D = printer.configfile.config[e].pid_kd|float %}
  M106     ; fan full speed
  M117 // Old PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}
  PID_CALIBRATE HEATER=extruder TARGET={T}
  TURN_OFF_HEATERS #M107
  M84
  #SAVE_CONFIG
  # Don't forget to SAV_CONFIG to keep new PID