#####################################
#           Clean Backups           #
#     Version 1.2.5  2023-2-17      #
#####################################
# From rootiest GH

#   This script cleans backup files
# from the base folder by moving them 
#       to an archive folder.

[delayed_gcode clean_backups]
initial_duration: 2
gcode:
    RUN_SHELL_COMMAND CMD=backup_cleaner

[gcode_shell_command backup_cleaner]
command: bash /home/mks/printer_data/config/scripts/clean_backups.sh
timeout: 60.
verbose: True

#####################################
#      Fix ZippyPrint Scripts       #
#      Version 1.0.5 2023-3-28      #
#####################################
#####     PLEASE READ BELOW     #####
#####################################
# This macro will fix permissions on 
#    all scripts in your config
# 
# 
# You must have gcode_shell_command
# installed to use this macro/script.
# 
############## NOTE: ################ 
#  This will make all .sh and .py
#  files execuable in your config!
#  Please use caution if you do not
#  trust all scripts in your config

################################
######### FIX_SCRIPTS ##########
################################

[gcode_macro FIX_SCRIPTS]
gcode:
    RUN_SHELL_COMMAND CMD=fix_scripts

[gcode_shell_command fix_scripts]
command: bash /home/mks/printer_data/config/scripts/fix_scripts.sh /home/mks/printer_data/config/scripts/
timeout: 60.
verbose: True

# Sauvegarde fichiers de configuration sur Github (https://github.com/Staubgeborener/klipper-backup)
[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash /home/mks/printer_data/config/script.sh
timeout: 90.0
verbose: True

[delayed_gcode git_backup]
initial_duration: 2
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command klipperscreen_shutdown]
 command: ~/printer_data/config/scripts/klipperscreen_shutdown.sh
 timeout: 60
 verbose: True

 [gcode_macro Klipperscreen_Shutdown]
 description: Remote Shutdown Klipperscreen
 gcode:
     RUN_SHELL_COMMAND CMD=klipperscreen_shutdown