[motor_constants qidi_xmax3_xy]
# Nema17 4248, BJ42D29-28V07
# Coil resistance, Ohms
resistance: 1.40
# Coil inductance, Henries
inductance: 0.0026
# Holding torque, Nm
holding_torque: 0.410
# Nominal rated current, Amps
max_current: 1.50
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[motor_constants qidi_xmax3_z]
# Nema17 4248, BJ42D29-22V08
# Coil resistance, Ohms
resistance: 30.00
# Coil inductance, Henries
inductance: 0.062
# Holding torque, Nm
holding_torque: 0.450
# Nominal rated current, Amps
max_current: 0.40 # run_current: 0.95 ???
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[motor_constants qidi_xmax3_extruder]
# Nema14 10 dents 36mm, BJY36D12-04V02
# Coil resistance, Ohms
resistance: 2.00
# Coil inductance, Henries
inductance: 0.0012
# Holding torque, Nm
holding_torque: 0.090
# Nominal rated current, Amps
max_current: 1.00
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: qidi_xmax3_xy
tuning_goal: auto
sg4_thrs: 92 #85

[autotune_tmc stepper_y]
motor: qidi_xmax3_xy
tuning_goal: auto
sg4_thrs: 100 #85

#[autotune_tmc stepper_z]
#motor: qidi_xmax3_z
#tuning_goal: silent

[autotune_tmc extruder]
motor: qidi_xmax3_extruder
tuning_goal: performance