# use SAVE_PENDING DURATION=10  (seconds)  in macro END_PRINT / PRINT_END
# or use UPDATE_DELAYED_GCODE ID=SAVE_PENDING_TIMER DURATION=60

[delayed_gcode SAVE_PENDING_TIMER]
initial_duration: 0  # Set 0 to interrupt the delayed macro
gcode:
    {% if printer.configfile.save_config_pending|lower == 'true' %}    
    M118 save in pending
    SAVE_VARIABLE VARIABLE=savepending VALUE=1  
    SAVE_CONFIG
    {% endif %}

[gcode_macro SAVE_PENDING]
gcode:
    {% set duration = params.DURATION|default(10)|int %}
    UPDATE_DELAYED_GCODE ID=SAVE_PENDING_TIMER DURATION={duration}